p.verso{
    color: blue;
}

p.mote{
    color:red
}

div.poeta
img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }

p.estilolink
    a:link {
        color: red;
      }
      
      /* visited link */
      a:visited {
        color: green;
      }
      
      /* mouse over link */
      a:hover {
        color: rgb(255, 230, 105);
      }
      
      /* selected link */
      a:active {
        color: blue;
      }


    div.personCervejas
    table {
        width: 500px;
    }
    
    th, td {
        text-align: left;
        padding: 20px;
    }
    
    th {
        background-color: rgb(255, 115, 0);
        color: white;
        font-weight: bold;
        font-size: large;
    }
    
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    a {
        text-decoration: none;
    }
    
    td a:hover {
        color: rgb(255, 115, 0);
    }
